useDynLib(glmmEP, .registration = TRUE, .fixes = "F_")
S3method(summary,glmmEP)
export(glmmEP)
export(glmmEP.control)
export(glmmSimData)
export(summary.glmmEP)
export(glmmEPvignette)
importFrom(stats,binomial)
importFrom(stats,coefficients)
importFrom(stats,optim)
importFrom(stats,pnorm)
importFrom(stats,qnorm)
importFrom(stats,rbinom)
importFrom(stats,rnorm)
importFrom(stats,runif)
importFrom(utils,vignette)
importFrom(matrixcalc,duplication.matrix)
importFrom(lme4,glmer)


